mat-icon {
  cursor: pointer;
}

.action-container {
  display: flex;
  padding: 10px;
}

button {
  margin: 0 20px 0 0;
}

.output {
  padding: 20px;
}

.delete {
  color: red;
}

.container {
  padding: 30px 0 20px;
}

label {
  font-size: 0.9em;
  font-family: sans-serif;
  margin: 0 5px 0 15px;
  font-weight: bolder;
}

input {
  padding: 5px 12px;
  font-size: 14px;
  line-height: 20px;
  color: #24292e;
  vertical-align: middle;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: right 8px center;
  border: 1px solid #e1e4e8;
  border-radius: 6px;
  outline: none;
  box-shadow: rgba(225, 228, 232, 0.2) 0px 1px 0px 0px inset;
  :focus {
    border-color: #0366d6;
    outline: none;
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
  }
}

.styled-table {
  border-collapse: collapse;
  margin: 25px 0 0 15px;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 100px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  width: 90%;
}

.styled-table thead tr {
  background-color: #b7b7b7;
  color: black;
  text-align: left;
}

.styled-table th,
.styled-table td {
  padding: 12px 15px;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
  overflow: auto;
  height: 50px;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #b7b7b7;
}

.styled-table tbody tr.active-row {
  font-weight: bold;
  color: #b7b7b7;
}

.header-margin {
  margin: 30px 0 -20px 15px;
}

h2 {
  margin: 30px 0 5px 15px;
}

.invoice-margin {
  margin: 10px 0 0 10px;
}
